@import url(./tbgs-color.css);

:root {
    /* Typography */
    --title: 56px;
    --heading-big: 48px;
    --heading-small: 32px;
    --sub-heading: 24px;
    --sub-heading-small: 20px;
    --body-big: 16px;
    --body-medium: 14px;
    --body-small: 12px;

    /* font thickness */
    --semi-bold: 600;
    --normal: 400;
    --light: 300;

    /* font-family */
    --body: "Poppins", sans-serif;

    /* gaps */
}

.header {
    color: black;
}

.tbgs-logo {
    color: black;
}

.tbgs-nav {
    color: black;
}
.navlinks{
    color: black;
}
.navlinks a{
    color: black;
}